.div_three {
  height: 100%;
  width: 95vw;
  margin: 28px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
  align-items: center;
  padding: 3vw;
  padding-left: 2.6vw;
}

.editor {
  display: flex;
  border-style: solid;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
  border-width: 1px;
  border-radius: 10px;
  background: -webkit-linear-gradient(top, #001626 0%, #001626 80%, #001626 100%);
  margin-right: 1vw;
  }

  @media screen and (max-width: 912px) {
    .editor {
      height: 18vh;
      width: 80vw;
      margin-top: 2.5vh;
    }
  }


.info_container {
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 912px) {
  .div_three {
    flex-direction: column;
    height: 100%;
    margin-bottom: 4vh;
    width: 95vw;
  }
}

.title {
  display: flex;
  margin: 1vw;
  padding: 1vw;
  width: 28vw;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 912px) {
  .title {
    width: 80vw;
    height: 100%;
    margin: 1vh 0vh;
    margin-top: 2vh;
  }
}

.description {
  display: flex;
  margin: 1vw;
  padding: 1vw;
  width: 28vw;
  height: 100%;
  font-size: .9rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);

  }

  @media screen and (max-width: 912px) {
    .description {
      width: 80vw;
      height: 100%;
      margin: 1vh 0vh;
      margin-bottom: 3vh;
    }
  }